{% extends 'hotelrudra/base.html' %}
{% load static %}

{% block title %}About Us | {{ site_prefs.site_name }}{% endblock %}

{% block content %}
    <!-- Header Banner -->
    {% if article.image_url %}
    <section class="banner-header bg-img" data-overlay-dark="5" data-background="{{ article.image_url }}">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <div class="title">{{article.title}}</div>
                </div>
            </div>
        </div>
    </section>
    {% endif %}
    

    {{article.content | safe}}


{% endblock %}