{% extends 'hotelrudra/base.html' %}
{% load static %}

{% block title %}About Us | {{ site_prefs.site_name }}{% endblock %}

{% block content %}
    <!-- Header Banner -->
    <section class="banner-header bg-img" data-overlay-dark="5" data-background="{% if article.image_url %}{{ article.image_url }}{% else %}{{ site_prefs.banner }}{% endif %}">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <div class="title">{{article.title}}</div>
                </div>
            </div>
        </div>
    </section>
    

    {{article.content | safe}}


{% endblock %}