{% extends 'hotelrudra/base.html' %}
{% load static %}

{% block title %}Gallery | {{ site_prefs.site_name }}{% endblock %}

{% block content %}

    <section class="banner-header bg-img bg-fixed" data-overlay-dark="5" data-background="{{ site_prefs.gallery_banner }}">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <div class="title">Photo Gallery</div>
                </div>
            </div>
        </div>
    </section>
    <!-- Gallery Image -->

    <section  data-scroll-index="4" class="section-padding">
        <div class="container"> 
            <div class="main text-center">
                <div class="container">
                    <ul class="list-unstyled row gallery-ul">
                        <li class="col-md active" data-class="all">ALL</li>
                
                        {% for gallery in gallery %}
                            <li class="col-md" data-class="{{ gallery.title }}">{{ gallery.title }}</li>
                        {% endfor %}
                    </ul>
                </div>

                <div class="container-fluid" id="gallery">  
                    {% for gallery_image in gallery_images %}
                        <div class="col-md-4 images" data-class="{{ gallery_image.gallery.title }}" data-src="{{ gallery_image.image_url }}" data-position="{{ gallery_image.position }}" data-original-order="{{ forloop.counter0 }}" style="display: block;">
                            <img src="{{ gallery_image.image_url }}" alt="{{ gallery_image.title }}">
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>
{% endblock %}



{% block extra_js %}
    <script>
        $(document).ready(function () {
            $("#gallery").lightGallery();
        });
    </script>
{% endblock %}
