{% load static %}
<!DOCTYPE html>
<html lang="zxx">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <title>{% if room %}{{ room.title }}{% else %}Meeting & Hall{% endif %} - Hotel Rudra View</title>
    <link rel="shortcut icon" href="{% static 'img/favicon.png' %}" />
    <link rel="stylesheet" href="{% static 'css/plugins.css' %}" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <style>
        .cont {
            max-height: 80vh;  /* or any height you want */
            overflow-y: auto;
        }
    </style>
</head>

<body>
    <!-- Progress scroll totop -->
    <div class="progress-wrap cursor-pointer">
        <svg class="progress-circle svg-content" width="100%" height="100%" viewBox="-1 -1 102 102">
            <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98" />
        </svg>
    </div>

    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg">
        <div class="container-fluid px-5">
            <!-- Logo -->
            <div class="logo-wrapper">
                <a class="logo" href="index.html"> <img src="{% static 'img/logo.png' %}" class="logo-img" alt=""> </a>
            </div>
            <!-- Button -->
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation"> <span class="navbar-toggler-icon"><i class="fa-light fa-bars"></i></span> </button>
            <!-- Menu -->
            <div class="collapse navbar-collapse" id="navbar">
                <ul class="navbar-nav mx-auto">
                    <li class="nav-item"><a class="nav-link " href="index.html">Home</a></li>
                    <li class="nav-item"><a class="nav-link" href="about.html">About Us</a></li>
                    <li class="nav-item dropdown"> <a class="nav-link dropdown-toggle" href="rooms.html" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false">Rooms <i class="fa-light fa-angle-down"></i></a>
                        <ul class="dropdown-menu">
                            <li><a href="room-details.html" class="dropdown-item"><span>Deluxe Double</span></a></li>
                            <li><a href="room-details.html" class="dropdown-item"><span>Deluxe Twin</span></a></li>
                            <li><a href="room-details.html" class="dropdown-item"><span>Deluxe Triple</span></a></li>
                            <li><a href="room-details.html" class="dropdown-item"><span>Suite Room</span></a></li>
                        </ul>
                    </li>
                    <li class="nav-item"><a class="nav-link active" href="hall.html">Hall</a></li>
                    <li class="nav-item"><a class="nav-link" href="restaurant.html">Restaurant</a></li>
                    <li class="nav-item"><a class="nav-link" href="amenities.html">Facilities</a></li>
                    <li class="nav-item"><a class="nav-link" href="gallery.html">Gallery</a></li>
                    <li class="nav-item"><a class="nav-link" href="contact.html">Contact</a></li>
                </ul>

                <div class="navbar-right">
                    <div class="phonex"><a href="tel:9801303612"><i class="fa-solid fa-phone"></i> +977 9801303612</a></div>
                </div>
            </div>
        </div>
    </nav>

    <!-- Header Banner -->
    <header class="header slider-fade roomdetails23">
        <div class="owl-carousel owl-theme">
            <!-- The opacity on the image is made with "data-overlay-dark="number". You can change it using the numbers 0-9. -->
            <div class="item bg-img" data-overlay-dark="5" data-background="{% static 'img/hall/hall1.jpg' %}">
                <div class="v-middle caption">
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-12 col-md-12 text-center">
                                <h2>Meeting & hall</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item bg-img" data-overlay-dark="5" data-background="{% static 'img/hall/hall1.jpg' %}">
                <div class="v-middle caption">
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-8 col-md-12 text-center">
                                <h2><h2>Meeting & hall</h2></h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item bg-img" data-overlay-dark="5" data-background="{% static 'img/hall/hall1.jpg' %}">
                <div class="v-middle caption">
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-8 col-md-12 text-center">
                                <h2>Meeting & hall</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Page Details -->
    <section class="page-details section-padding">
        <div class="container">
            <div class="row">
                <div class="col-lg-7 col-md-12 mb-30">
                    <div class="row mb-30">
                        <div class="col-md-12">
                            <div class="section-subtitle">{% if room %}{{ room.package.title }}{% else %}Elegant Hall{% endif %}</div>
                            <div class="section-title">{{ room.title|default:"About Hall" }}</div>
                            {% if room.content %}
                            {{ room.content|safe }}
                            {% else %}
                            <p>Our hotel hall offers a grand and welcoming space for guests. The elegant decor, featuring luxurious furnishings and tasteful accents, creates a sophisticated ambiance. Whether you're arriving for check-in or waiting to meet friends, the spacious hall provides a comfortable and inviting atmosphere. It's the perfect place to relax, socialize, enjoy stylish surroundings.</p>
                            <p>Our hotel hall is designed with guest convenience in mind. With plenty of seating areas, you can comfortably rest while you wait for your room or your companions. The hall also offers complimentary refreshments and a selection of magazines and newspapers for your enjoyment. Our attentive staff is always available to assist with any inquiries or offer recommendations to enhance your stay.</p>
                            {% endif %}
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="table-responsive">
                            <table class="table table-bordered border border-danger mb-30" style="box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;">
                                <thead>
                                    <tr>
                                        <th scope="col"><img src="{% static 'img/icon/area.png' %}">Hall Size</th>
                                        <th scope="col"><img src="{% static 'img/icon/u-shaped.png' %}">U Shape</th>
                                        <th scope="col"><img src="{% static 'img/icon/class.png' %}">Classroom</th>
                                        <th scope="col"><img src="{% static 'img/icon/seats-map.png' %}">Theatre</th>
                                        <th scope="col"><img src="{% static 'img/icon/round-table.png' %}">Round Table</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>2200sq. ft</td>
                                        <td>60 pax</td>
                                        <td>150 pax</td>
                                        <td>250 chairs</td>
                                        <td>90 pax</td>
                                    </tr>
                                </tbody>
                            </table>
                            </div>

                            <a href="#" class="button-3" data-bs-toggle="modal" data-bs-target="#exampleModal"><i class="fa-solid fa-thumbs-up"></i> Enquiry Now</a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 offset-lg-1 col-md-12">
                    <div class="cont position-sticky" style="top: 80px; z-index: 2;">
                        <h5>Hall Amenities</h5>
                        <ul class="list">
                            <li><span><img src="{% static 'img/icon/projector.png' %}"></span><span>Projector</span></li>
                            <li><span><i class="fa-light fa-wifi"></i></span><span>Free Wi-Fi</span></li>
                            <li><span><img src="{% static 'img/icon/board.png' %}"></span><span>White Board</span></li>
                            <li><span><i class="fa-light fa-tv"></i></span><span>Cable TV</span></li>
                            <li><span><i class="fa-light fa-baby-carriage"></i></span><span>Free Baby Bed</span></li>
                            <li><span><i class="fa-light fa-air-conditioner"></i></span><span>Conditioner</span></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Footer -->
    <footer class="footer">
        <!-- top -->
        <div class="top">
            <div class="container">
                <div class="row">
                    <div class="col-md-3  mb-30">
                        <div class="item">
                            <h3>Hotel Rudra View</h3>
                            <p> We aspire to be the best at providing best rooms excellent hospitality and a comfortable placeto stay.</p>
                            <div class="social-icons">
                                <ul class="list-inline">
                                    <li><a href="https://www.facebook.com/hotelrudraview" target="_blank"><i class="fa-brands fa-facebook-f"></i></a></li>
                                    <li><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
                                    <li><a href="#"><i class="fa-brands fa-twitter"></i></a></li>
                                    
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 offset-md-1 mb-30">
                        <div class="item">
                            <h3>Contact us</h3>
                            <p>Airport, Sinamangal, Kathmandu<br>Shambhu Marg Road No. 4 Chowk, Nepal
                            </p>
                            <div class="phone"><a href="tel:+977014588242 ">+977 01-4588242</a> | <a href="tel:+977015564880">+977 01-5564880</a></div>
                            <div class="mail"><a href="mailto:info.hotelrudraviewnp@gmail.com">info.hotelrudraviewnp@gmail.com</a></div>
                            <p><a href="#" target="_blank">View Google Map</a></p>
                        </div>
                    </div>

                    <div class="col-md-4 mb-30">
                        <div class="item">
                            <h3>Booking Platforms</h3>
                            <div class="social-icons1">
                                <ul class="card1 card1a">
                                    <li><img src="{% static 'img/icon/booking.png' %}" alt="visa"></li>
                                    <li><img src="{% static 'img/icon/ta.png' %}" alt="paypal"></li>
                                    <li><img src="{% static 'img/icon/ma.png' %}" alt="mastercard"></li>
                                </ul>
                            </div>
                            <div class="newsletter">
                                <h6 style="color: #fff;font-size: 19px;">We accepts</h4>
                            </div>
                            <div class="social-icons1">
                                <ul class="card1">
                                    <li><img src="{% static 'img/icon/visa.png' %}" alt="visa"></li>
                                    <li><img src="{% static 'img/icon/paypal.png' %}" alt="paypal"></li>
                                    <li><img src="{% static 'img/icon/mastercard.png' %}" alt="mastercard"></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- bottom -->
        <div class="bottom">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 col-md-12 text-center">
                        <p>© Copyright 2025. Hotel Rudra View. All Rights Reserved. Developed by  <a href="https://longtail.info/">Longtail e-media</a></p>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <div class="whats_app">
        <a href="#" target="_blank" class="whatsapp">
            <img src="{% static 'img/icon/whatsapp.png' %}">
        </a>
    </div>
    

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog  modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Hall Enquiry</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"><i class="fa-solid fa-xmark"></i></button>
                </div>
                <div class="modal-body">
                    <form id="contact_form" name="contact_form" action="" method="post" novalidate="novalidate">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="row">
                                    <input type="hidden" id="hall_title" name="hall_title" value="AB Suite">

                                    <div class="col-sm-12">
                                        <div class="mb-3">
                                            <input name="form_name" class="form-control" type="text"
                                                placeholder="Full Name*">
                                        </div>
                                    </div>
                                    <div class="col-sm-12">
                                        <div class="mb-3">
                                            <input name="form_email" class="form-control required email" type="email"
                                                placeholder="Email Address*">
                                        </div>
                                    </div>
                                    <div class="col-sm-12">
                                        <div class="mb-3">
                                            <input name="form_phone" class="form-control" type="text"
                                                placeholder="Phone Number*">
                                        </div>
                                    </div>
                                    <div class="col-sm-12">
                                        <div class="mb-3">
                                            <input name="form_address" class="form-control" type="text"
                                                placeholder="Contact Address*">
                                        </div>
                                    </div>
                                    
                                </div>
                                
                            </div>
                            
                            <div class="col-md-6">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="mb-3">
                                            <input name="form_eventname" class="form-control" type="text"
                                                placeholder="Event Title*">
                                        </div>
                                    </div>
                                    <div class="col-sm-12">
                                        <div class="mb-3">
                                            <select name="schedule" class="form-control"
                                                aria-label="Default select example">
                                                <option value="" selected="">Preferred Slot*</option>
                                                <option value="Morning">Morning</option>
                                                <option value="Day">Day</option>
                                                <option value="Afternoon">Afternoon</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-sm-12">
                                        <div class="mb-3">
                                            <input name="form_eventDate" class="form-control form_eventDate" type="date"
                                                placeholder="Event Date*">
                                        </div>
                                    </div>
                                    <div class="col-sm-12">
                                        <div class="mb-3">
                                            <input name="form_pax" class="form-control" type="number" step="1" min="1"
                                                placeholder="Number of Guest*">
                                        </div>
                                    </div>
                                    
                                </div>
                                
                            </div>
                            
                            <div class="col-md-12">
                                <div class="mb-3">
                                    <textarea name="form_message" class="form-control" rows="7"
                                        placeholder="Special requirements..."></textarea>
                                </div>
                                <div class="mb-2">
                                    <div class="g-recaptcha" data-sitekey="6LfKLi4sAAAAADNBBPbsHFC4HziwYyEw3hbJ_j2-">
                                    </div>

                                    <input name="form_botcheck" class="form-control" type="hidden" value="">
                                    <button type="submit" class="theme-btn btn-style-one mt-3"><span
                                            class="btn-title">Submit</span></button>
                                </div>
                                <div id="result_msg" style="display:none;"></div>

                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- jQuery -->
    <script src="{% static 'js/jquery-3.7.1.min.js' %}"></script>
    <script src="{% static 'js/jquery.validate.min.js' %}"></script>
    <script src="{% static 'js/jquery-migrate-3.4.1.min.js' %}"></script>
    <script src="{% static 'js/modernizr-2.6.2.min.js' %}"></script>
    <script src="{% static 'js/imagesloaded.pkgd.min.js' %}"></script>
    <script src="{% static 'js/jquery.isotope.v3.0.2.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/scrollIt.min.js' %}"></script>
    <script src="{% static 'js/jquery.waypoints.min.js' %}"></script>
    <script src="{% static 'js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'js/jquery.stellar.min.js' %}"></script>
    <script src="{% static 'js/jquery.magnific-popup.js' %}"></script>
    <script src="{% static 'js/YouTubePopUp.js' %}"></script>
    <script src="{% static 'js/select2.js' %}"></script>
    <script src="{% static 'js/datepicker.js' %}"></script>
    <script src="{% static 'js/custom.js' %}"></script>
       <script src='https://www.google.com/recaptcha/api.js' async defer></script>
     <script type="text/javascript">
            // var base_url = $('base').attr('url');
            $(document).ready(function () {
                $('#contactform').validate({
                    errorElement: 'span',
                    errorClass: 'validate-has-error',
                    rules: {
                        name: {required: true},
                        phone: {required: true},
                        event_name: {required: true},
                        event_date: {required: true},
                        pax: {required: true},
                        email: {required: true, email: true},
                        message: {required: true}
                    },
                    messages: {
                        name: {required: "Please enter your Name."},
                        phone: {required: "Please enter your Phone Number."},
                        event_name: {required: "Please enter your events name."},
                        event_date: {required: "Select event date."},
                        pax: {required: "Please enter total no of pax."},
                        email: {required: "Please enter your Email Address."},
                        message: {required: "Please enter your Message."}
                    },
                    submitHandler: function (form) {
                        var recaptcha = $("#g-recaptcha-response").val();
                    if (recaptcha === "") {
                        event.preventDefault();
                        alert("Please check the recaptcha");
                        return false;
                    }
                        var Frmval = $("form#contactform").serialize();
                        $("button#submit").attr("disabled", "true").text('Processing...');
                        $.ajax({
                            type: "POST",
                            dataType: "JSON",
                            url: "enquery_mail.php",
                            data: "action=forHall&" + Frmval,
                            success: function (data) {
                                var msg = eval(data);
                                $("button#submit").removeAttr("disabled").text('Submit');
                                $('div#result_msg').html(msg.message).css('display', 'block').fadeOut(8000);
                                $("form#contactform")[0].reset();
                            }
                        });
                        return false;
                    }
                })
            });
            </script>
           <script>
  document.addEventListener("DOMContentLoaded", function () {
    const eventDateInput = document.getElementById("event_date");

    if (eventDateInput) {
        // Get today's date in the format 'YYYY-MM-DD'
        const today = new Date();
        const formattedToday = today.toISOString().split('T')[0];

        // Set the 'min' attribute to today's date
        eventDateInput.setAttribute("min", formattedToday);
    }
});
</script>
</body>
</html>