{% extends 'hotelrudra/base.html' %}
{% load static %}

{% block title %}Rooms - {{ site_prefs.site_name }}{% endblock %}

{% block content %}
    <!-- Header Banner -->
    <section class="banner-header bg-img" data-overlay-dark="5" data-background="{{ site_prefs.banner }}">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <div class="title">Our Rooms</div>
                </div>
            </div>
        </div>
    </section>

    <!-- Rooms 1 -->
    <section class="rooms1 section-padding" style="padding-top:100px;padding-bottom: 100px;">
        <div class="container"> 
            <div class="row">
                {% for room in all_rooms %}
                    <div class="col-lg-6 col-md-12 mb-30">
                        <div class="item">
                            <div class="img"> 
                                <img src="{% if room.image_url %}{{ room.image_url }}{% else %}{% static 'img/rooms/1.jpg' %}{% endif %}" alt="{{ room.title }}"> 
                            </div>
                            <div class="wrap">
                                <div class="cont">
                                    <div class="price">
                                        {% if room.price %}${{ room.price|floatformat:0 }}{% else %}Call{% endif %} 
                                        <span>/ night</span>
                                    </div>
                                    <h3><a href="{% url 'dynamic_detail' room.slug %}">{{ room.title }}</a></h3>
                                    <div class="details"> 
                                        {% if room.beds %}<span><i class="fa-thin fa-bed-front"></i>{{ room.beds }} Bed</span>{% endif %}
                                        {% if room.capacity %}<span><i class="fa-thin fa-user"></i>{{ room.capacity }} Guests</span>{% endif %}
                                        <span><i class="fa-thin fa-expand"></i>15 Sqm</span> 
                                    </div>
                                </div>
                                <div class="arrow"> <a href="{% url 'dynamic_detail' room.slug %}"><span class="fa-regular fa-arrow-right"></span></a> </div>
                            </div>
                        </div>
                    </div>
                {% empty %}
                    <div class="col-md-12 text-center">
                        <p>No rooms found. Check back later!</p>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
{% endblock %}