{% extends 'hotelrudra/base.html' %}
{% load static %}
{% load custom_filters %}


{% block title %}{{ room.meta_title|default:room.title }} | {{ site_prefs.site_name }}{% endblock %}

{% block content %}
    <!-- Header Banner -->
    <header class="header slider-fade roomdetails23">
        <div class="owl-carousel owl-theme">
            {% if room.images.all %}
                {% for gallery_image in room.images.all %}
                    {% if gallery_image.active %}
                    <div class="item bg-img" data-overlay-dark="5" data-background="{{ gallery_image.image_url }}">
                        <div class="v-middle caption">
                            <div class="container">
                                <div class="row justify-content-center">
                                    <div class="col-lg-12 col-md-12 text-center">
                                        <h2>{{ room.title }}</h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                {% endfor %}
            {% else %}
                <!-- The opacity on the image is made with "data-overlay-dark="number". You can change it using the numbers 0-9. -->
                <div class="item bg-img" data-overlay-dark="5" data-background="{% if room.image_url %}{{ room.image_url }}{% else %}{{ site_prefs.banner }}{% endif %}">
                    <div class="v-middle caption">
                        <div class="container">
                            <div class="row justify-content-center">
                                <div class="col-lg-12 col-md-12 text-center">
                                    <h2>{{ room.title }}</h2>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>
    </header>

    <!-- Room Details -->
    <section class="page-details section-padding">
        <div class="container">
            <div class="row">
                <div class="col-lg-7 col-md-12 mb-30">
                    <div class="row mb-30">
                        <div class="col-md-9">
                            <div class="section-subtitle">{{ room.subtitle|default:"Laid-back places" }}</div>
                            <div class="section-title">{{ room.title }}</div>
                        </div>
                         <div class="col-md-3 mt-45">
                            <h4>{% if room.price %}${{ room.price|floatformat:0 }} <span style="font-size:23px">/ Night</span>{% endif %}</h4>
                        </div>
                        {% with content_parts=room.content|split:'<hr class="read-more-separator" style="border: 1px dashed #f60;" />' %}
                            {{ content_parts.0|safe }}
                            
                            {% if content_parts.1 %}
                                <div class="room-extra-content mt-30">
                                    {{ content_parts.1|safe }}
                                </div>
                            {% endif %}
                        {% endwith %}

                    </div>
                </div>

                <div class="col-lg-4 offset-lg-1 col-md-12">
                    <div class="sidebar position-sticky" style="top: 80px; z-index: 2;">
                    <a href="tel:{{ site_location.phone }}" class="button-3 w-100 mb-15"><i class="fa-solid fa-thumbs-up"></i> Book Your Stay</a>
                    {% if room.amenity_links.all %}
                    <div class="cont">
                        
                        <h5>Room Amenities</h5>
                        <ul class="list">
                            {% for link in room.amenity_links.all %}
                            <li>
                                <span>
                                    {% if link.feature.image_url %}
                                        <img src="{{ link.feature.image_url }}" alt="{{ link.feature.title }}">
                                    {% elif link.feature.icon %}
                                        <i class="{{ link.feature.icon }}"></i>
                                    {% else %}
                                        <i class="fa-light fa-check"></i>
                                    {% endif %}
                                </span>
                                <span>{{ link.feature.title }}</span>
                            </li>
                            {% empty %}
                                <li><span><i class="fa-light fa-info"></i></span><span>Standard Amenities</span></li>
                            {% endfor %}
                        </ul>
                       
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </section>

    <!-- Other Rooms section (could be made dynamic later) -->
    <section class="galleryscroll mb-90">
        <div class="container-fluid p-0">
            <div class="row justify-content-center">
                <div class="col-md-12 text-center mb-20">
                    <div class="section-title">Other Rooms</div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="owl-carousel owl-theme rooms1" style="padding-top:0px;">
                        {% for other_room in room.package.sub_packages.all %}
                            {% if other_room.pk != room.pk and other_room.is_active %}
                            <div class="item">
                                <div class="img"> 
                                    <img src="{% if other_room.image_url %}{{ other_room.image_url }}{% else %}{% static 'img/rooms/1.jpg' %}{% endif %}" alt="{{ other_room.title }}"> 
                                </div>
                                <div class="wrap">
                                    <div class="cont">
                                        <div class="price">{% if other_room.price %}${{ other_room.price|floatformat:0 }}{% else %}Call{% endif %} <span>/ night</span></div>
                                        <h3><a href="{% url 'dynamic_detail' other_room.slug %}">{{ other_room.title }}</a></h3>
                                        <div class="details"> 
                                            {% if other_room.beds %}<span><i class="fa-thin fa-bed-front"></i>{{ other_room.beds }} Bed</span>{% endif %}
                                            {% if other_room.capacity %}<span><i class="fa-thin fa-user"></i>{{ other_room.capacity }} Guests</span>{% endif %}
                                        </div>
                                    </div>
                                    <div class="arrow"> <a href="{% url 'dynamic_detail' other_room.slug %}"><span class="fa-regular fa-arrow-right"></span></a> </div>
                                </div>
                            </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}