{% extends "base.html" %}
{% block content %}
<h2>Users</h2>

<a href="{% url 'user_create' %}" class="btn">+ Add User</a>

<table class="log-table">
    <thead>
        <tr>
            <th>Username</th>
            <th>Email</th>
            <th>Status</th>
            <th>Joined</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for u in users %}
        <tr>
            <td>{{ u.username }}</td>
            <td>{{ u.email }}</td>
            <td class="{% if u.is_active %}status-active{% else %}status-inactive{% endif %}">
                {% if u.is_active %}Active{% else %}Inactive{% endif %}
            </td>
            <td>{{ u.date_joined|date:"Y-m-d" }}</td>
            <td>{% if not u.is_superuser and u != request.user %}
                <a href="{% url 'user_edit' u.id %}" class="edit">Edit</a> |


                <button class="delete"
                    onclick="openDeleteModal('user', '{{ u.username }}', '{% url 'delete_object' 'user' u.id %}',false)"
                    style="background:none;border:none;color:#ef4444;cursor:pointer;padding:0;">
                    Delete
                </button>
                {% else %}
                <span style="color:#9ca3af;">Delete</span>
                {% endif %}

            </td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="5" style="text-align:center;color:#6b7280;">No users found.</td>
        </tr>
        {% endfor %}
    </tbody>
</table>


{% endblock %}